
body{
  background: linear-gradient(0deg, rgba(130,233,132,1) 34%, rgba(43,217,219,1) 74%);
  font-family: 'Montserrat', sans-serif;;
  color: #2b2d42;
}
#main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#photo-div{
  max-width: 80%;
  
}
#photo-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  max-width: 75%;
  height: auto;
  border-radius: 10%;
  margin: 10px;
}
